{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign video_alt = section.settings.video.alt | default: section.settings.description
    assign poster = section.settings.video.preview_image | default: section.settings.cover_image
  
    if section.settings.video != null
      assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
      if ratio_diff < 0.01 and ratio_diff > 0
        assign fix_ratio = true
      endif
    endif
  -%}


<!-------------productos-------------max-black--------------------> 
<div class="producto-container">
    {% for product in collections.all.products limit: 4 %}
      <div class="producto black-produc" style="background-image: url('{{ product.featured_image.src | img_url: }}');border: 10px solid #000000; border-bottom: 50px solid #000000; ">
        <a href="{{ product.url }}" title="{{ product.title }}">
          <div class="shop">&nbsp;</div>
          <p>{{ product.title }}</p>
          <div class="texto-flotante">View Dress</div>
        </a>
      </div>
    {% endfor %}
  </div>
  <!-------------endproductos----------------------------------->
  {% schema %}
{
  "name": "Productos Destacados",
  "settings": [
    {
      "type": "range",
      "label": "Número de productos a mostrar",
      "id": "cantidad_productos",
      "min": 1,
      "max": 10,
      "default": 4
    }
  ]
}
{% endschema %}